* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(48, 47, 47);
}

.container {
    display: flex;
    justify-content: center;
}

.left-column {
    width: 27vw;
    height: 100vh;
}

img {
    width: 27vw;
    height: 100vh;
}

.logo-banner {
    width: 27vw;
    height: 14vh;
    background-color: rgba(20, 20, 20, 0.5);
    position: absolute;
    top: 22vh;
    right: 59vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo-icon {
    background:url(odin-lined.png);
    background-size: contain;
    background-repeat: no-repeat;
    height: 12.5vh;
    width: 12vh;
    margin-right: -1.5vw;

}

@font-face {
    font-family: 'Norse Bold';
    src: url(Norse-Bold.otf);
}
.logo-text {
    color: white;
    font-family: 'Norse Bold';
    font-size: 5.5em;
    
}

.attribution {
    position: absolute;
    bottom: 0;
    right: 67.5vw;
    color: white;
    font-size: .77em;
    margin-bottom: 12px;
    font-family: 'Roboto', sans-serif;
    
}

a {
    color: white;
}

.right-column {
    border: 1px solid black;
    background-color: white;
    width: 45vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.area {
    height: 30vh;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    font-size: 1.4em;
    font-weight: bold;
}

.area-1 { 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-top: 9vh;
}

p {
    margin-right: 16vh;
    margin-left: 4vh;
}

#middle-space {
    padding-top: 2vh;
    padding-bottom: 2vh;
}

.area-2 {
    box-shadow: 0 0 10px 0 rgba(129, 128, 128, 0.5); 
    font-family: 'Roboto', sans-serif;      
}

.header {
    margin-left: 4vh;
    padding-top: 2.5vh;
}

.main {
    display: flex;
    margin-left: 4vh;
    font-size: .5em;  
    padding-top: 2.5vh; 
    padding-right: 2.5vh;
    height: 100%;
    width: fit-content;
}


input {
    margin-top: -.01vh;
    margin-bottom: 3vh;
    margin-right: 6vh;
    height: 3vh;
    width: 12vw;
    border: 1px solid rgb(200, 198, 198);
    border-radius: 5px;
}